<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="bootstrap.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Bitter|Underdog&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sell Music</title>
</head>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand"><img src="public/logomark.png" width="85" height="75" class="d-inline-block align-top" alt="logo"></a><h2>Vinyl Justice</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/index"><p class="menu">Home</p></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/buymusic"><p class="menu">Buy Music</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sellmusic"><p class="menu">Sell Music</p></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/review"><p class="menu">Review Music</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register"><p class="menu">Register</p></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/login"><p class="menu">Login</p></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/profile"><p class="menu">Profile</p></a>
                        </li>
              </ul>
              <form class="form-inline my-2 my-lg-0" method="POST" action="/searchData">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
        </div>
      </nav>
        
      <br>
      <div class="container">
       <h1 style="text-align: center">Sell Music </h1>
       <br>
            <form method="POST" form action="/postProduct">
                    <div class="row">
                            <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputArtist">Artist</label>
                        <input type="text" class="form-control" id="artist" name="artist" placeholder="The Clash" required>
                      </div>
                      <div class="form-group">
                        <label for="inputAlbum">Album</label>
                        <input type="text" class="form-control" id="album" name="album" placeholder="London Calling" required>
                      </div>
                      <div class="form-group">
                        <label for="inputYear">Year</label>
                        <input type="text" class="form-control" id="year" name="year" placeholder="1979" required>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                      <label for="inputPrice">Your Sale Price</label>
                      <input type="double" class="form-control" id="price" name="price" placeholder="£0.00" required>
                    </div>
                    <div class="form-group form-group col-md-6">
                      <label for="inputPrice">Genre</label>
                      <input type="text" class="form-control" id="genre" name="genre" placeholder="Punk" required>
                    </div>
                    </div>
                <br>
                    <button type="submit" class="btn btn-primary">Add album to your seller profile</button>
                  <form method="POST" form action="/postProduct" action="/uploadphoto">
                </div>
                <div class="col-sm-6">
                  <div class="file-field">
                    <div class="mb-4">
                      <img src="public/kisspng-vector-graphics-royalty-free-stock-illustration-st-printed-vinyl-gramophone-classical-music-stickers-5d1bcf5ce2b286.4246766315621036449286.png"
                        class="vinyl" height="300px" width="400px"alt="example placeholder avatar">
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="btn btn-mdb-color btn-rounded float-left">
                        <span>Upload album art</span>
                        <input type="file" id="picture" name="picture">
                      </div>
                    </div>
                  </div>
                </div>
                </div>

            </div>
      

    <br>
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">
  
          
          <h5 class="text-uppercase">HELLO, GOODBYE</h5>
          <p>This ain't no fuckin' around. This is the planet of sound.</p>
  
        </div>
      
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
     
        <div class="col-md-3 mb-md-0 mb-3">
  
          <h5 class="text-uppercase">MEDIA</h5>
  
          <ul class="list-unstyled">
            <li>
                <img class="social" src="facebooklogo.png" width="35px" height="35px">
            </li>
            <li>
                <img class="social" src="twitterlogo.png" width="35px" height="35px">
            </li>
            <li>
                <img class="social" src="youtube.png" width="35px" height="35px">
            </li>
            
          </ul>
  
        </div>
    
        <div class="col-md-3 mb-md-0 mb-3">
  
          <h5 class="text-uppercase">Contact</h5>
  
          <ul class="list-unstyled">
            <li class="gap">Email: vinyljustice@gmail.com</li>
        
          </ul>
  
        </div>
  
      </div>

    </div>
    <div class="footer-copyright text-center py-3">© 2019 Vinyl Justice
    </div>

  </footer>
 
            

                              

    
</body>
</html>